<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/admin/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-grow font-montserrat">
        <div class="grid grid-flow-rows-3 w-full mt-12 px-2 py-12 mx-auto text-xs md:text-sm lg:mt-0 lg:grid-rows-none lg:grid-cols-3 xl:px-24">
            <div class="flex flex-col items-center m-4 p-4 md:px-8 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 mb-4 md:text-lg">Admins</h1>
                <% if(adminsList.length <= 0) { %>
                    <div class="flex w-full justify-center items-center px-2 py-4 text-sm">
                        <h1 class="text-gray-700 text-center dark:text-dark-secondary-green">No admin accounts.</h1>
                    </div>
                <% } %>
                <% adminsList.forEach((admin, index) => { %>
                    <div class="grid grid-cols-2 w-full border-b-2 mb-3 py-1 border-grey text-center dark:border-secondary-green ">
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= admin.userId.username %></h1>
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= admin.role %></h1>
                    </div>
                <% }) %>
                <div class="grid grid-rows-2 justify-center items-center text-center mt-8 gap-4 sm:grid-cols-2">
                    <div class="px-8 py-2 rounded-lg bg-primary-green dark:bg-secondary-green">
                        <a href="/admin/admin-accounts/add" class="text-white dark:text-dark-primary-green">Add
                            Admins</a>
                    </div>
                    <div class="px-8 py-2 rounded-lg bg-primary-green dark:bg-secondary-green">
                        <a href="/admin/admin-accounts" class="text-white dark:text-dark-primary-green">Manage
                            Admins</a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-center m-4 p-4 md:px-8 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 mb-4 md:text-lg">Customers</h1>
                <% if(customersList.length <= 0) { %>
                    <div class="flex w-full justify-center items-center px-2 py-4 text-sm">
                        <h1 class="text-gray-700 text-center dark:text-dark-secondary-green">No customers.</h1>
                    </div>
                <% } %>
                <% customersList.forEach((customer, index) => { %>
                    <div class="grid grid-cols-2 w-full border-b-2 mb-3 py-1 border-grey text-center dark:border-secondary-green ">
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= customer.username %></h1>
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= customer.email %></h1>
                    </div>
                <% }) %>
                <!--                <div class="px-8 py-2 mt-8 rounded-lg bg-primary-green dark:bg-secondary-green">-->
                <!--                    <a href="/admin/customer-accounts" class="text-white dark:text-dark-primary-green">Manage-->
                <!--                        Customers</a>-->
                <!--                </div>-->
            </div>
            <div class="flex flex-col items-center m-4 p-4 rounded-lg shadow-md dark:shadow-none">
                <h1 class="text-primary-green dark:text-secondary-green p-2 mb-4 md:text-lg">Orders</h1>
                <% if(ordersList.length <= 0) { %>
                    <div class="flex w-full justify-center items-center px-2 py-4 text-sm">
                        <h1 class="text-gray-700 text-center dark:text-dark-secondary-green">No orders.</h1>
                    </div>
                <% } %>
                <% ordersList.forEach((order, index) => { %>
                    <div class="grid grid-cols-2 w-full border-b-2 mb-3 py-1 border-grey text-center dark:border-secondary-green ">
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= order._id %></h1>
                        <h1 class="break-words text-gray-700 dark:text-dark-secondary-green"><%= order.status %></h1>
                    </div>
                <% }) %>
                <div class="px-8 py-2 mt-8 rounded-lg bg-primary-green dark:bg-secondary-green">
                    <a href="/admin/orders" class="text-white dark:text-dark-primary-green">Manage Orders</a>
                </div>
            </div>
        </div>
    </div>
</div>
<% if(snackbar) { %>
    <div id="snackbar" class="fixed z-10 bottom-5 flex justify-center items-center p-4 display-none">
        <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md">
            <div>
                <p class="font-bold">Howdy <%= snackbar.username %>,</p>
                <p class="text-sm"><%= snackbar.message %></p>
            </div>
        </div>
    </div>
<% } %>

<%- include('../includes/admin/footer.ejs') %>