<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/admin/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-grow font-montserrat">
        <div class="grid w-full px-2 py-12 mx-auto xl:px-24">
            <div class="flex flex-col items-center m-4 p-4 rounded-lg lg:col-span-2">
                <h1 class="text-center text-primary-green dark:text-secondary-green p-2 mb-4 md:text-lg">Order
                    ID: <%= order._id %></h1>
                <% if(!order) { %>
                    <div class="flex justify-center items-center p-12">
                        <h1 class="text-gray-700 text-center dark:text-dark-secondary-green">Order not found.</h1>
                    </div>
                <% } else { %>
                    <div class="flex flex-col gap-4 md:grid md:grid-cols-2">
                        <form action="/admin/orders/<%= order._id %>" method="POST"
                              class="flex flex-col gap-4 p-8 text-xs shadow-md rounded-lg md:text-base dark:shadow-none dark:bg-tertiary-green"
                              novalidate>
                            <h1 class="text-center text-primary-green p-2 mb-4">Order
                                Summary</h1>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Date:</h1>
                                <h1 class="px-0.5 py-0.5"><%= order.date.toDateString() %></h1>
                            </div>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Amount:</h1>
                                <h1 class="px-0.5 py-0.5">RM <%= order.totalAmount.toFixed(2) %></h1>
                            </div>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Name:</h1>
                                <h1 class="px-0.5 py-0.5"><%= order.customer.firstName + ' ' + order.customer.lastName %></h1>
                            </div>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Email:</h1>
                                <h1 class="px-0.5 py-0.5"><%= order.customer.email %></h1>
                            </div>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Address:</h1>
                                <h1 class="px-0.5 py-0.5"><%= order.customer.address.street + ' ' + order.customer.address.city + ' ' + order.customer.address.postalCode + ' ' + order.customer.address.country %></h1>
                            </div>
                            <div class="flex flex-wrap">
                                <h1 class="px-0.5 py-0.5">Contact:</h1>
                                <h1 class="px-0.5 py-0.5"><%= order.customer.mobile %></h1>
                            </div>
                            <div class="flex justify-center items-center">
                                <select name="status"
                                        value="<%= order.status %>"
                                        class="w-full border-2 rounded-lg p-2 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-tertiary-green
                                    <%= validationErrors.find(error => error.param === 'status') ? 'border-red-300 dark:border-red-300' : 'dark:border-dark-secondary-green' %>">
                                    <option disabled selected value> Select a status</option>
                                    <option value="received"
                                    <% if (order.status === 'received') { %> selected
                                            <% } %>
                                    >Received
                                    </option>
                                    <option value="en-route"
                                    <% if (order.status === 'en-route') { %> selected
                                            <% } %>
                                    >En-Route
                                    </option>
                                    <option value="cancelled"
                                    <% if (order.status === 'cancelled') { %> selected
                                            <% } %>
                                    >Cancelled
                                    </option>
                                    <option value="completed"
                                    <% if (order.status === 'completed') { %> selected
                                            <% } %>
                                    >Completed
                                    </option>
                                    <option value="resources collected"
                                    <% if (order.status === 'resources collected') { %> selected
                                            <% } %>
                                    >Resources Collected
                                    </option>
                                </select>
                            </div>
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <div class="flex flex-col justify-center items-center">
                                <button type="submit"
                                        class="px-8 py-2 mt-8 rounded-lg bg-primary-green text-white">
                                    Update Order
                                </button>
                            </div>
                        </form>
                        <div class="flex flex-col items-center gap-4 p-8 text-xs shadow-md rounded-lg md:text-base dark:shadow-none dark:bg-tertiary-green">
                            <h1 class="text-center text-primary-green p-2 mb-4">Resources</h1>
                            <div class="flex flex-wrap justify-center gap-8">
                                <% order.resources.forEach(p =>{ %>
                                    <div class="flex flex-col">
                                        <div class="flex justify-center items-center p-4">
                                            <img src="/<%= p.resource.imagePath %>" alt="" class="h-20 w-auto">
                                        </div>
                                        <div class="flex flex-wrap">
                                            <h1 class="px-0.5 py-0.5">Name:</h1>
                                            <h1 class="px-0.5 py-0.5"><%= p.resource.name %></h1>
                                        </div>
                                        <div class="flex flex-wrap">
                                            <h1 class="px-0.5 py-0.5">Quantity:</h1>
                                            <h1 class="px-0.5 py-0.5"><%= p.quantity %> kg</h1>
                                        </div>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>


<%- include('../includes/admin/footer.ejs') %>