<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/user/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-grow font-montserrat">
        <div class="grid w-full px-2 py-12 mx-auto xl:px-24">
            <div class="flex flex-col items-center m-4 p-4 rounded-lg lg:col-span-2">
                <h1 class="text-primary-green dark:text-secondary-green p-2 mb-4 md:text-lg">My Cart</h1>
                <% if(cartItems.length <= 0) { %>
                    <div class="flex justify-center items-center p-12">
                        <h1 class="text-gray-700 text-center dark:text-dark-secondary-green">Your cart is empty.</h1>
                    </div>
                <% } else { %>
                    <div class="flex flex-wrap justify-center items-center gap-4">
                        <% cartItems.forEach((cartItem, index) => { %>
                            <div class="flex flex-col px-2 py-4 justify-center items-center shadow-md rounded-lg dark:shadow-none dark:bg-tertiary-green">
                                <div class="flex w-full justify-end items-end pt-2">
                                    <form action="/user/cart-delete-item" method="POST" novalidate>
                                        <input type="hidden" class="" name="resourceId"
                                               value="<%= cartItem.resourceId._id %>">
                                        <input type="hidden" class="" name="_csrf" value="<%= csrfToken %>">
                                        <button type="submit" class="mx-2">
                                            <img src="/images/remove-icon.png" alt="" class="h-6">
                                        </button>
                                    </form>
                                </div>
                                <div class="flex flex-wrap px-2 pt-2 pb-4 justify-center items-center">
                                    <div class="flex justify-center items-center p-4">
                                        <img src="/<%= cartItem.resourceId.imagePath %>" alt="" class="h-20 w-auto">
                                    </div>
                                    <div class="flex flex-col justify-center p-4 text-sm">
                                        <h1 class="p-1.5">Resource: <%= cartItem.resourceId.name %></h1>
                                        <h1 class="p-1.5">Quantity: <%= cartItem.quantity %> kg</h1>
                                        <h1 class="p-1.5">
                                            Amount: <%= (cartItem.quantity * cartItem.resourceId.price).toFixed(2) %>
                                            RM/kg</h1>
                                    </div>
                                </div>
                            </div>
                        <% }) %>
                    </div>
                    <div class="flex flex-wrap gap-4 justify-center items-center mt-8">
                        <a href="/user/checkout"
                           class="bg-primary-green rounded-lg text-tertiary-green px-6 py-2 md:text-lg">Checkout</a>
                        <form action="/user/cart-clear" method="POST" novalidate>
                            <input type="hidden" class="" name="_csrf" value="<%= csrfToken %>">
                            <button type="submit" class="bg-primary-green rounded-lg text-tertiary-green px-6 py-2 md:text-lg">Clear Cart</button>
                        </form>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>
</div>

<%- include('../includes/user/footer.ejs') %>