<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/navigation.ejs') %>

<div class="flex flex-grow">
    <div class="flex flex-grow font-montserrat justify-center items-start pt-16">
        <div class="px-8 py-4 text-center">
            <h1 class="pb-6 text-4xl font-semibold text-primary-green md:text-6xl dark:text-secondary-green">
                Register</h1>
            <p class="pb-4 text-gray-500 dark:text-white">Create your new account</p>
            <div class="flex justify-center items-center">
                <form action="/signup" method="POST" novalidate
                      class="flex-1 shadow-md rounded px-8 pt-6 pb-8 mb-4 text-sm md:text-base sm:w-2/3 dark:shadow-none">
                    <input type="email" name="email" id="email" value="" placeholder="Email"
                           class="appearance-none border-b-2 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-dark-primary-green dark:border-secondary-green dark:text-secondary-green
                                    <%= validationErrors.find(error => error.param === 'email') ? 'border-red-300 dark:border-red-300' : 'mb-4' %>">
                    <% if(validationErrors.find(error => error.param === 'email')) { %>
                        <div class="flex flex-col justify-start items-start text-left text-xs mt-2 mb-4 px-2 rounded-lg">
                            <% errorMessage.find(error => { if(error.param === 'email') {const emailError = error.msg %>
                            <p class="text-red-500"><%= emailError %></p>
                            <%}})%>
                        </div>
                    <% } %>
                    <input type="text" name="username" id="username" value="" placeholder="Username"
                           class="appearance-none border-b-2 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-dark-primary-green dark:border-secondary-green dark:text-secondary-green
                                    <%= validationErrors.find(error => error.param === 'username') ? 'border-red-300 dark:border-red-300' : '' %>">
                    <% if(validationErrors.find(error => error.param === 'username')) { %>
                        <div class="flex flex-col justify-start items-start text-left text-xs mt-2 px-2 rounded-lg">
                            <% errorMessage.find(error => { if(error.param === 'username') {const usernameError = error.msg %>
                            <p class="text-red-500"><%= usernameError %></p>
                            <%}})%>
                        </div>
                    <% } %>
                    <div class="flex flex-col justify-start items-start text-left text-xs p-2 mb-1">
                        <p class="italic text-gray-500 dark:text-tertiary-green">Username length at least 5 characters
                            minimum.</p>
                    </div>
                    <input type="password" name="password" id="password" value="" placeholder="Password"
                           class="appearance-none border-b-2 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-dark-primary-green dark:border-secondary-green dark:text-secondary-green
                                    <%= validationErrors.find(error => error.param === 'password') ? 'border-red-300 dark:border-red-300' : '' %>">
                    <% if(validationErrors.find(error => error.param === 'password')) { %>
                        <div class="flex flex-col justify-start items-start text-left text-xs mt-2 px-2 rounded-lg">
                            <% errorMessage.find(error => { if(error.param === 'password') {const passwordError = error.msg %>
                            <p class="text-red-500"><%= passwordError %></p>
                            <%}})%>
                        </div>
                    <% } %>
                    <div class="flex flex-col justify-start items-start text-left text-xs p-2 mb-1">
                        <p class="italic text-gray-500 dark:text-tertiary-green">Use alphanumeric characters with at
                            least 8 characters minimum.</p>
                    </div>
                    <input type="password" name="confirm-password" id="confirm-password" value=""
                           placeholder="Confirm Password"
                           class="appearance-none border-b-2 w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline dark:bg-dark-primary-green dark:border-secondary-green dark:text-secondary-green
                                    <%= validationErrors.find(error => error.param === 'confirm-password') ? 'border-red-300 dark:border-red-300' : 'mb-4' %>">
                    <% if(validationErrors.find(error => error.param === 'confirm-password')) { %>
                        <div class="flex flex-col justify-start items-start text-left text-xs mt-2 mb-4 px-2 rounded-lg">
                            <% errorMessage.find(error => { if(error.param === 'confirm-password') {const confirmpasswordError = error.msg %>
                            <p class="text-red-500"><%= confirmpasswordError %></p>
                            <%}})%>
                        </div>
                    <% } %>
                    <div class="flex justify-start text-xs md:text-sm items-start text-left mt-2 py-1.5">
                        <input type="checkbox" name="privacy"
                               class="mx-2 mt-0.5 md:mt-1 leading-tight  <%= validationErrors.find(error => error.param === 'privacy') ? 'border-red-300' : '' %>"
                               value="privacy"><span
                                class="text-primary-green dark:text-secondary-green  <%= validationErrors.find(error => error.param === 'privacy') ? 'text-red-500 dark:text-red-500' : '' %>">Agree to our privacy policy and terms of use. </span>
                    </div>
                    <div class="flex justify-start text-xs md:text-sm items-start text-left">
                        <input type="checkbox" name="newsletter" id="newsletter" value="newsletter"
                               class="mx-2 mt-0.5 md:mt-1 leading-tight checked:bg-primary-green"><span
                                class="text-primary-green dark:text-secondary-green">Send me newsletter.</span>
                    </div>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <div class="flex flex-col justify-center items-center">
                        <button type="submit"
                                class="px-8 py-2 mt-8 rounded-lg bg-primary-green text-white dark:bg-secondary-green dark:text-dark-primary-green">
                            Sign Up
                        </button>
                        <p class="px-4 py-2 mt-2 text-sm text-primary-green dark:text-secondary-green">
                            Already have an account?<br>
                            <a href="/login" class="underline text-primary-green dark:text-secondary-green ">Login
                                here</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<%- include('../includes/footer.ejs') %>

